---
import BaseLayout from "../../layouts/BaseLayout.astro";

//Tags Index

const pageTitle = "Tag search";
---

<BaseLayout url={"/tags/"} title={pageTitle}>
  <div class="">Hello Tags :)</div>

  <p>nice</p>
</BaseLayout>
