---
const { url, title } = Astro.props;
---

<li>
  <a href={url}>{title}</a>
</li>

<style>
  li {
    list-style-type: none;
    padding: 10px;
  }
  a {
    text-decoration: none;
    color: #ee3300;
    padding: 10px;
    background: rgb(43, 43, 43);
  }
  a:hover {
    background-color: aquamarine;
  }
</style>
