---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform}&neArr;</a>

<style>
  a {
    text-transform: capitalize;
    padding: 0.5rem 1rem;
    font-size: 1.7rem;
    color: white;
    background-color: blueviolet;
    text-decoration: none;
    border-radius: 7px;
    font-family: "Monomaniac One", cursive;
  }

  a:hover {
    color: black;
    background-color: rgb(255, 146, 255);
  }
</style>
