---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    text-transform: capitalize;
    padding: 0.5rem 1rem;
    color: white;
    background-color: blueviolet;
    text-decoration: none;
    border-radius: 7px;
  }
</style>
